.container {
  display: block;
  text-align: center;
}

.perfil-avatar {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: solid 4px blueviolet;
}

.perfil-titulo {
  font-family: sans-serif;
}
h5,
h6 {
  font-family: monospace;
}
h5 {
  font-family: 16px;
}
h6 {
  font-size: 14px;
}
